<html>
  <head>
    <title>カードチェック</title>
    <%= javascript_include_tag "play", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="wrapper">
      <div class="cards-wrapper" id="cards-wrapper">
        <% (0..4).each do |i| %>
          <div id="flip-card-<%= i %>" class="flip-card">
            <div class="flip-card-inner" id="flip-card-inner-<%= i %>">
              <div class="flip-card-front">
                <img src="/cards/back.png" class="card-image">
              </div>
              <div class="flip-card-back">
                <img src="/cards/joker.png" class="card-image" id="card-front-image-<%= i %>">
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="title-wrapper" id="title-wrapper">
        <h1 class="neon" data-text="POKER" contenteditable>POKER</h1>
        <div class="gradient"></div>
        <div class="spotlight"></div>
      </div>
      <h2 id="result" class="result"></h2>
      <div class="spinner-wrapper" id="spinner-wrapper">
        <span>判断中</span>
        <div id="#ff9108" class="spinner-outter"></div>
        <div id="#ff9108" class="spinner-inner"></div>
      </div>
      <div class="input-wrapper">
        <input value="" class="card-input" id="card-input" placeholder="Go">
      </div>
      <%# <footer>
        <p><a href="https://scrapbox.io/netprotections/qhuynh">Follow for more</a></p>
      </footer> %>
      <div class="js-container container" id="congrat"></div>

    </div><!-- /wrapper -->
  </body>

</html>

